body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input {
  height: 40px;
  outline: 0;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  box-shadow: none;
  padding: 0 12px;
}
